*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.showBtn{
  width: 100%;
  color:#fff ;
  border: 0 !important;

}
.app__section{
  padding: 40px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  /* background-color:blue; */
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.date__picker{
  text-align: center;
  padding: 20px;
}