.card{
    
    width: 350px;
    height: 450px;
    box-shadow: 3px 8px 4px -6px grey;
    /* background-color: red; */
    margin: 40px;
    position: relative;
    border-radius: 10px;
    transition: all 0.5s;
    min-width: fit-content;
   
}
.card > img{
    width: 100%;
    height: 200px;
    object-fit: fill;
    position: absolute;
    
   
}
.card__info{
    position: absolute;
    padding: 20px;
    bottom: 20px;

}
.card__info > p{
    font-size: 16px;
    color: grey;
    text-align: justify;
}
.card__info > h2{
font-weight: 600;
}
.card:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
.price_tag{
    padding: 5px;
}